.contact-form{
	padding-top: 10px;
		.tabs{
			margin: 40px 0 42px;
			position: relative;
				&:before{
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					border: 1px var(--color-grey-300) solid;
					opacity: .5;
					pointer-events: none;
				}
				&-item{
					@include d($sm){
						flex: 1;
					}
				}
				@include d($sm){
					display: flex;
					width: 100%;
				}
		}
		label{
			@extend .input-label;
		}
		@include d($sxl){
			margin-top: 50px;
		}
}