.cases{
	margin: 0 -127px;
	display: flex;
	flex-wrap: wrap;
	padding-top: 130px;
		&-box{
			padding: 0 47px 47px;
			width: 55%;
				&-item{
					display: block;
					position: relative;
				}
				&:nth-child(1),
				&:nth-child(4n + 4),
				&:nth-child(4n + 5){
					width: 45%;
						@include d($sm){
							width: 100%;
						}
				}
				&:nth-child(even){
					margin-top: -40px;
						@include d($sm){
							margin-top: 0;
						}
				}
				@include d($lg){
					padding: 0 45px 45px;
				}
				@include d($sxl){
					padding: 0 12px 24px;
				}
				@include d($sm){
					width: 100%;
					padding: 0 0 24px;
				}
		}
		&-all{
			position: static;
			padding: 212px 0 155px;
				.cases{
					&-box{
						&:not(:last-child):not(:nth-last-child(2)){
							margin-bottom: 70px;
								@include d($sm){
									margin-bottom: 40px;
								}
						}
						@include d($sm){
							margin-bottom: 40px;
						}
					}
				}
				.gradient{
					position: absolute;
					width: 894px;
					height: 954px;
					top: -115px;
					right: 45%;
					transform: translateX(50%);
					background-repeat: no-repeat;
					background-size: contain;
					background-position: center;
					background-image: url(../images/gradient/clients-gradient.svg);
					pointer-events: none;
					opacity: .1;
						@include d($sm){
							display: none;
						}
				}
				@include d($xs){
					padding: 176px 0 50px;
				}
		}
		&-action{
			text-align: center;
			padding: 25px 0;
				.btn{
					@include d($xs){
						width: 100%;
					}
				}
		}
		&.with-hover{
			.case{
					&-content{
						opacity: 0;
						transform: translateY(20px);
						transition: opacity .5s ease-out, transform .5s ease-out;
							@include d($md){
								opacity: 1;
								transform: translateY(0);
							}
					}
					&:hover{
							.case-content{
								opacity: 1;
								transform: translateY(0);
								transition-delay: .1s;
							}
					}
			}
		}
		@include d($lg){
			margin: 0 -96px;
		}
		@include d($xl){
			margin: 0 -48px;
		}
		@include d($sxl){
			margin: 0 -12px;
		}
		@include d($sm){
			margin: 0;
			padding-top: 40px;
		}
}