.text-switcher{
	position: relative;
	width: 800px;
	height: 126px;
	transform-style: preserve-3d;
	transform: translateZ(-50px) rotateX(0deg);
	display: inline-block;
		&-item{
			display: inline-block;
			position: absolute;
			top: 0;
			left: 0;
			white-space: nowrap;
			opacity: 0;
				&:nth-child(1){
					transform: rotate3d(0, 0, 0, 0deg) translate3d(0,0,50px);
				}
				&:nth-child(2){
					transform: rotate3d(1, 0, 0, 90deg) translate3d(0,0,50px);
				}
				&:nth-child(3){
					transform: rotate3d(1, 0, 0, 180deg) translate3d(0,0,50px);
				}
				&:nth-child(4){
					transform: rotate3d(1, 0, 0, -90deg) translate3d(0,0,50px);
				}
				&[data-current]{
					opacity: 1;
				}
		}
		&-overlay{
			display: inline-block;
			height: 126px;
			opacity: 0;
			transform: translateY(50px);
				@include d($xl){
					height: 118px;
				}
				@include d($sxl){
					height: 100px;
				}
				@include d($md){
					height: 78px;
				}
				@include d($sm){
					height: 66px;
				}
				@include d($xs){
					height: 51px;
				}
		}
		&.with-transition{
			.text-switcher-item{
				transition: opacity var(--cube-duration) var(--cube-ease);
			}
		}
		@include d($xl){
			height: 118px;
		}
		@include d($sxl){
			width: 600px;
			height: 100px;
		}
		@include d($md){
			height: 78px;
			width: 480px;
		}
		@include d($sm){
			height: 66px;
			width: 380px;
		}
		@include d($xs){
			height: 51px;
			width: 280px;
		}
}