.input{
	width: 100%;
	background-color: transparent;
	border: none;
	border-bottom: 1px var(--color-grey-100) solid;
	color: var(--color-white);
	font-size: 18px;
	font-family: var(--font-base);
	height: 56px;
	padding: 0;
	transition: border-color var(--opacity-duration) var(--opacity-ease);
		&-container{
			position: relative;
			padding-bottom: 30px;
				&-message{
					position: absolute;
					bottom: 5px;
					left: 0;
					font-size: 14px;
					opacity: 0;
					pointer-events: none;
					transition: opacity var(--opacity-duration) var(--opacity-ease);
				}
				&.has-error{
						.input{
							border-color: var(--color-error);
								&-container{
										&-message{
											color: var(--color-error);
											opacity: 1;
										}
								}
						}
				}
		}
		&-label{
			display: inline-block;
			transition: top var(--move-duration) var(--move-ease), font-size var(--move-duration) var(--move-ease), color var(--move-duration) var(--move-ease);
			position: absolute;
			left: 0;
			top: 12px;
			pointer-events: none;
				@include d($xs){
					font-size: 14px;
					top: 14px;
				}
		}
		&.is-focus{
				& ~ .label,
				& ~ label{
					font-size: 14px;
					color: var(--color-grey-200);
					top: -10px;
				}
		}
		@include d($xs){
			font-size: 14px;
		}
}

.textarea{
	@extend .input;
	padding-top: 15px;
	height: 80px;
}