.modal{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	transition: opacity var(--opacity-duration) var(--opacity-ease);
	opacity: 0;
	display: none;
		&-bg{
			background-color: var(--color-black);
			opacity: .8;
			position: absolute;
			inset: 0;
		}
		&-overlay{
			height: 100%;
			width: 100%;
			overflow: hidden;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			padding: 100px 24px;
		}
		&-box{
			position: relative;
			z-index: 1;
			max-width: 284px;
			width: 100%;
			border: 1px solid transparent;
			border-image-slice: 1;
			border-image-source: linear-gradient(270deg, #E5E5E5 0%, #CAAAD2 23.57%, #B996C8 49.25%, #BACBE7 100%);
			text-align: center;
			padding: 20px 0;
				&-title{
					background: linear-gradient(270deg, #98C1ED 0%, #CAAAD2 28.35%, #B996C8 52.1%, #BACBE7 100%);
					background: -webkit-linear-gradient(270deg, #98C1ED 0%, #CAAAD2 28.35%, #B996C8 52.1%, #BACBE7 100%);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
				}
				&-btn{
					position: absolute;
					top: -20px;
					right: -20px;
					padding: 10px;
					cursor: pointer;
						&-item{
							width: 20px;
							height: 20px;
							background: linear-gradient(270deg, #98C1ED 0%, #CAAAD2 28.35%, #B996C8 52.1%, #BACBE7 100%);
							position: relative;
							transition: all var(--move-duration) var(--move-ease);
								&:before,
								&:after{
									content: '';
									position: absolute;
									width: 14px;
									height: 2px;
									border-radius: 2px;
									background-color: var(--color-white);
									top: 50%;
									left: 50%;
									transition: transform var(--move-duration) var(--move-ease);
								}
								&:before{
									transform: translate(-50%,-50%) rotate(45deg);
								}
								&:after{
									transform: translate(-50%,-50%) rotate(-45deg);
								}
						}
						@include hover($hoverWidth){
							&:hover{
								.modal-box-btn-item{
									background: linear-gradient(270deg, #CAAAD2 0%, #BACBE7 32.11%, #98C1ED 61.16%, #B996C8 100%);
										&:before{
											transform: translate(-50%,-50%) rotate(-45deg);
										}
										&:after{
											transform: translate(-50%,-50%) rotate(45deg);
										}
								}
							}
						}
				}
		}
		&.is-visible{
			opacity: 1;
		}
}

.is-safari{
	.modal-box{
		border-color: var(--color-gradient-1);
	}
}