.tabs{
	align-items: center;
	position: relative;
		@include m($sm + 1){
			display: flex;
		}
		&-item{
			@include m($sm + 1){
				flex: 1;
			}
		}
		&-nav{
			position: absolute;
			top: 0;
			right: 0;
			width: 42px;
			height: 100%;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: var(--color-black);
				&:before{
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 100%;
					border: 1px var(--color-grey-300) solid;
					opacity: .5;
				}
				&-icon{
					width: 12px;
					height: 12px;
					position: relative;
					transition: transform var(--move-duration) var(--move-ease);
						img{
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%,-50%);
						}
				}
				&.is-end{
					.tabs-nav-icon{
						transform: scaleX(-1);
					}
				}
				@include m($sm + 1){
					display: none;
				}
		}
		&-wrap{
			position: relative;
				&:before{
				content: '';
				position: absolute;
				inset: 0;
				border: 1px var(--color-grey-300) solid;
				opacity: .5;
				pointer-events: none;
			}
				@include d($sm){
					padding-right: 42px !important;
				}
		}
		&-carousel{
			visibility: visible;
			opacity: 0;
				.splide__arrows{
					display: none;
				}
		}
}

.tab{
	&-btn{
		@extend .btn;
		border-image-source: none;
			&-title{
				@extend .btn-title;
				text-transform: uppercase;
				background: transparent;
				-webkit-text-fill-color: var(--color-grey);
				letter-spacing: .05em;
				pointer-events: none;
			}
			&:before,
			&:after{
				opacity: 0;
			}
			&.active{
				.tab-btn{
						&-title{
							background: linear-gradient(90deg, #BACBE7 21.2%, #B996C8 44.18%, #CAAAD2 75.37%, #98C1ED 100%);
							background: -webkit-linear-gradient(90deg, #BACBE7 21.2%, #B996C8 44.18%, #CAAAD2 75.37%, #98C1ED 100%);
							-webkit-background-clip: text;
							-webkit-text-fill-color: transparent;
						}
				}
				&:after{
					opacity: 1;
				}
			}
			@include hover($hoverWidth){
				&:hover{
					.tab-btn{
							&-title{
								background: linear-gradient(90deg, #BACBE7 21.2%, #B996C8 44.18%, #CAAAD2 75.37%, #98C1ED 100%);
								background: -webkit-linear-gradient(90deg, #BACBE7 21.2%, #B996C8 44.18%, #CAAAD2 75.37%, #98C1ED 100%);
								-webkit-background-clip: text;
								-webkit-text-fill-color: transparent;
							}
					}
				}
			}
	}
}