.hero-case{
	.container{
		position: relative;
	}
	.gradient{
		position: absolute;
		top: -430px;
		right: -250px;
		width: 790px;
		height: 790px;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		background-image: url(../images/gradient/case/case-1.svg);
		opacity: .1;
		pointer-events: none;
	}
}